.option {
  padding: var(--space-2) var(--space-3);
  color: var(--color-gray-900);
  line-height: var(--line-height-sm);
  transition:
    color 0.15s ease,
    background-color 0.15s ease;
  cursor: pointer;
  min-height: 36px;

  &:hover:not(.selected, .disabled) {
    background-color: var(--color-gray-150);
  }
}

.selected {
  color: var(--color-gray-0);
  background-color: var(--color-primary);
}

.active:not(.selected, .disabled) {
  background-color: var(--color-gray-150);
}

.disabled {
  color: var(--color-gray-500);
  opacity: 0.5;
  cursor: not-allowed;
}
