@use '@/styles/abstracts/mixins' as *;

.infoBlock {
  padding: 14px 14px 14px 20px;
  border-radius: var(--radius-2xl);
}

.infoBlock_color_primary {
  background-color: var(--color-gray-0);
}

.infoBlock_color_info {
  background-color: var(--color-info);
}

.infoBlock_color_warning {
  background-color: var(--color-warning);
}

.infoBlock_color_error {
  background-color: var(--color-error);
}

.title,
.caption {
  @include text-md;

  margin: var(--space-0);
}

.title {
  font-weight: var(--font-weight-regular);
}

/* Primary */
.infoBlock_color_primary .title {
  color: var(--color-gray-900);
}

.infoBlock_color_primary .caption {
  color: var(--color-gray-600);
}

/* Info */
.infoBlock_color_info .title {
  color: var(--color-gray-0);
}

.infoBlock_color_info .caption {
  color: var(--color-gray-50);
}

/* Warning */
.infoBlock_color_warning .title {
  color: var(--color-gray-0);
}

.infoBlock_color_warning .caption {
  color: var(--color-gray-50);
}

/* Error */
.infoBlock_color_error .title {
  color: var(--color-gray-0);
}

.infoBlock_color_error .caption {
  color: var(--color-gray-50);
}
