@use '@/styles/abstracts/mixins' as *;

.infoBlock {
  padding: 14px 14px 14px 20px;
  border-radius: var(--radius-2xl);
}

.infoBlock_color_white {
  background-color: var(--color-gray-0);
}

.infoBlock_color_green {
  background-color: var(--color-info);
}

.title,
.caption {
  @include text-md;

  margin: var(--space-0);
}

.title {
  font-weight: var(--font-weight-regular);
}

.infoBlock_color_white .title {
  color: var(--color-gray-900);
}

.infoBlock_color_white .caption {
  color: var(--color-gray-600);
}

.infoBlock_color_green .title {
  color: var(--color-gray-0);
}

.infoBlock_color_green .caption {
  color: var(--color-gray-50);
}
