@mixin text-xl {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-semibold);
  line-height: var(--font-line-height-xl);
}

@mixin text-lg {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
  line-height: var(--font-line-height-md);
}

@mixin text-md {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  line-height: var(--font-line-height-md);
}

@mixin text-sm {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-line-height-sm);
}