:root {
  --font-family-base: "KantumruyPro", system-ui, sans-serif;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;
  --font-weight-light: 200;
  --font-weight-regular: 400;
  --font-weight-medium: 600;
  --font-weight-semibold: 700;
  --font-line-height-sm: 16px;
  --font-line-height-md: 24px;
  --font-line-height-lg: 32px;
  --font-line-height-xl: 40px;
}
