:root {
  --color-primary: #4338ca;
  --color-primary-accent: #3730a3;
  --color-primary-hover-light: #5f7cf1;
  --color-secondary: #07c;
  --color-secondary-accent: #0066b3;
  --color-tertiary: #444189;
  --color-tertiary-accent: #24225c;
  --color-info: #006bb7;
  --color-info-accent: #005494;
  --color-error: #cf2333;
  --color-error-accent: #b71c2a;
  --color-error-bg: #fff1f2;
  --color-warning: #b84d00;
  --color-warning-accent: #8f3d00;
  --color-gray-900: #000;
  --color-gray-800: #1f2937;
  --color-gray-700: #333;
  --color-gray-600: #767676;
  --color-gray-500: #999;
  --color-gray-200: #d8d8d8;
  --color-gray-150: #e7e7e7;
  --color-gray-100: #ededed;
  --color-gray-55: #f6f6f6;
  --color-gray-50: #fafafa;
  --color-gray-0: #fff;
  --color-gray-blue-200: #a9bafe;
  --color-gray-blue-50: #f1f3fb;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-2xl: 14px;
  --radius-ful: 9999px;
  --shdow-sm: 0 1px 2px rgb(0 0 0 / 5%);
  --shdow-md: 0 4px 6px rgb(0 0 0 / 10%);
  --shdow-lg: 0 10px 15px rgb(0 0 0 / 15%);
}
