.button {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: var(--space-0);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-line-height-md);
  border: none;
  border-radius: var(--radius-md);
  cursor: pointer;
  font-family: var(--font-family-base);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.delete {
  color: var(--color-gray-0);
  background-color: var(--color-error);
  transition: all 0.2s ease;
}

.button:not(:disabled).delete:hover {
  color: var(--color-gray-0);
  background-color: var(--color-error-accent);
  transform: translateY(-1px);
}

.primary {
  color: var(--color-gray-0);
  background-color: var(--color-primary);
  transition: all 0.2s ease;
}

.button:not(:disabled).primary:hover {
  color: var(--color-gray-0);
  background-color: var(--color-primary-accent);
  transform: translateY(-1px);
}

.secondary {
  color: var(--color-gray-0);
  background-color: var(--color-secondary);
  transition: all 0.2s ease;
}

.button:not(:disabled).secondary:hover {
  color: var(--color-gray-0);
  background-color: var(--color-secondary-accent);
  transform: translateY(-1px);
}

.button[data-size='small'],
.small {
  --icon-size: 16px;

  padding: var(--button-padding-sm);
  font-size: var(--font-size-xs);
}

.button[data-size='medium'],
.medium {
  --icon-size: 20px;

  padding: var(--button-padding-md);
  font-size: var(--font-size-sm);
}

.button[data-size='large'],
.large {
  --icon-size: 24px;

  padding: var(--button-padding-lg);
  font-size: var(--font-size-md);
}

.disabled {
  opacity: 0.6;
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);

  svg {
    width: 100%;
    height: 100%;
    fill: currentcolor;
  }
}
