.content {
  width: fit-content;
  min-width: 320px;
  max-width: 600px;
  max-height: 90vh;
  overflow: hidden auto;
  padding: var(--space-4);
  background-color: var(--color-gray-0);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-lg);
}
