.list {
  display: flex;
  gap: 20px;
  margin-bottom: 16px;
  justify-content: center;

  &.vertical {
    flex-direction: column;
    border-bottom: none;
    margin-bottom: 0;
    margin-right: 16px;
    gap: 4px;
  }
}
